body {
    height: 100%;
    background-color: #191b28;
    color: beige;
}

.gradient-text {
    background: linear-gradient(45deg, #e253e2, #28c9e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

#welcome-message {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border: 2px solid;
    border-radius: 15px;
    width: 35%;
    color: black;
    background-image: linear-gradient(45deg, #FF8000, #FFCC00);
    font-size: 24px;
    animation: colorRotation 8s linear infinite;
}

#welcome-message:hover {
    cursor: none;
}

.hidden {
    display: none;
}

#category-list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#category-list button {
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
    padding: 20px 25px;
    /* background-image: linear-gradient(45deg, #FFA500, #FFFF00); */
    background-image: linear-gradient(45deg, #FF8000, #FFCC00);
    background-size: 200% auto;
    animation: colorRotation 8s linear infinite;
}

@keyframes colorRotation {
    0% { background-position: left; }
    50% { background-position: right; }
    100% { background-position: left; }
}

footer {
    color: black;
    padding: 0px;
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(45deg, #e253e2, #28c9e8);
}

#my-cart {
    position: fixed;
    top: 3%;
    right: 3%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #247d0e;
    padding: 6px;
    transition: transform 0.3s ease;
}

#my-cart:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#view-cart-button {
    border: none;
    background-color: transparent;
}

#view-cart-button:hover {
    cursor: pointer;
}

#clear-cart-button {
    position: fixed;
    top: 5%;
    left: 50%;
    width: 10%;
    height: 3%;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #00FFFF;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(45deg, #e253e2, #28c9e8);
    transition: transform 0.3s ease;
}

#clear-cart-button:hover {
    cursor: pointer;
    background-image: linear-gradient(45deg, #FF0000, #000000);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#return-to-main {
    position: fixed;
    top: 3%;
    right: 3%;
    border: 2px solid black;
    border-radius: 10px;
    width: 15%;
    height: 4%;
    background-color: #e76f0a;
    padding: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#return-to-main:hover {
    cursor: pointer;
    background-color: transparent;
    color: #e76f0a;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#generateExcelBtn {
    position: fixed;
    bottom: 10%;
    left: 43%;
    border: 2px solid black;
    border-radius: 10px;
    width: 15%;
    height: 3.5%;
    padding: 6px;
    /* background-image: linear-gradient(45deg, #B8D69E, #3D732F); */
    background-image: linear-gradient(45deg, #4CAF50, #1B5E20, #000000);
    transition: transform 0.3s ease;
}

#generateExcelBtn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.quantityBtnRemove, .quantityBtnAdd {
    background-color: transparent;
    border: 2px solid #adaf11;
    border-radius: 5px;
    color: #adaf11;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in-out;
}

.quantityBtnRemove:hover, .quantityBtnAdd:hover {
    background-color: #adaf11;
    color: #191b28;
    transition: 0.2s ease-in-out;
}

.quantityBtnAdd {
    padding: 2px 5px;
    position: fixed;
    left: 25%;
}

.quantityBtnRemove {
    padding: 2px 7px;
    position: fixed;
    left: 20%;
}

.quantityCounter {
    padding: 3px 7px;
    position: fixed;
    left: 22.5%;
}

h3 {
    text-align: center;
    width: 20%;
}

h4 {
    font-size: 15px;
}

@keyframes popUpAnimation {
    0% {
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0;
    }
    70% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

#downloadPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid;
    border-radius: 50%;
    border-color: #4CAF50;
    background-color: transparent;
    color: #4CAF50;
    font-size: 48px;
    flex-direction: column;
    text-align: center;
    animation: popUpAnimation 1s ease-in-out;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.6);
}

#downloadPopup p {
    margin-top: 10px;
    font-size: 18px;
}
