body {
    height: 100%;
    background-color: #191b28;
    color: beige;
}

#category-list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#category-list button {
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
    padding: 20px 25px;
}

footer {
    background-color: #adaf11;
    color: black;
    padding: 0px;
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#my-cart {
    position: fixed;
    top: 3%;
    right: 3%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #3ab813;
    padding: 6px;
}

#my-cart:hover {
    cursor: pointer;
}

#view-cart-button {
    border: none;
    background-color: transparent;
}

#view-cart-button:hover {
    cursor: pointer;
}

#clear-cart-button {
    position: fixed;
    top: 5%;
    left: 50%;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #adaf11;
    transform: translate(-50%, -50%);
}

#clear-cart-button:hover {
    cursor: pointer;
}