body {
    height: 100%;
    background-color: #191b28;
    color: beige;
}

#category-list {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#category-list button {
    cursor: pointer;
    flex: 1;
    margin-right: 10px;
    padding: 20px 25px;
}

footer {
    background-color: #adaf11;
    color: black;
    padding: 0px;
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#my-cart {
    position: fixed;
    top: 3%;
    right: 3%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #3ab813;
    padding: 6px;
}

#my-cart:hover {
    cursor: pointer;
    background-color: #191b28;
    color: #3ab813; 
}

#view-cart-button {
    border: none;
    background-color: transparent;
}

#view-cart-button:hover {
    cursor: pointer;
}

#clear-cart-button {
    position: fixed;
    top: 5%;
    left: 50%;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #00FFFF;
    transform: translate(-50%, -50%);
}

#clear-cart-button:hover {
    cursor: pointer;
}

#return-to-main {
    position: fixed;
    top: 3%;
    right: 3%;
    border: 2px solid black;
    border-radius: 10px;
    width: 15%;
    height: 4%;
    background-color: #3ab813;
    padding: 6px;
}

#return-to-main:hover {
    cursor: pointer;
}

.quantityBtnRemove, .quantityBtnAdd {
    background-color: transparent;
    border: 2px solid #adaf11;
    border-radius: 5px;
    color: #adaf11;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in-out;
}

.quantityBtnRemove:hover, .quantityBtnAdd:hover {
    background-color: #adaf11;
    color: #191b28;
    transition: 0.2s ease-in-out;
}

.quantityBtnAdd {
    padding: 2px 5px;
    position: fixed;
    left: 25%;
}

.quantityBtnRemove {
    padding: 3px 7px;
    position: fixed;
    left: 20%;
}

.quantityCounter {
    padding: 3px 7px;
    position: fixed;
    left: 22.5%;
}

h3 {
    text-align: center;
    width: 20%;
}

h4 {
    font-size: 20px;
}